<h2 class="form-title">Add Video</h2>
<form class="input-form" action="/video" method="post" >

  <label class="form-label" for="videoUrl" >Url</label>
  <input id="videoUrl-input" name="videoUrl" value="{{video.videoUrl}}"/>
  {{#with video.errors.videoUrl as |error|}}
        <span class="error">{{error.message}}</span>
  {{/with}}

  <label class="form-label" for="title">Title</label>
  <input id="title-input" name="title" maxlength="50" value="{{video.title}}"/>
  {{#with video.errors.title as |error|}}
        <span class="error">{{error.message}}</span>
  {{/with}}

  <label class="form-label" for="description">Description</label>
  <textarea id="description-input" name="description">{{video.description}}</textarea>
  {{#with video.errors.description as |error|}}
        <span class="error">{{error.message}}</span>
  {{/with}}

  <button class="button submit-button" id="submit-button" type="submit">
  <p>Save a video</p>
  </button>
